@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
*{
    font-family: 'Playfair Display', serif;
}

body{
    background-color: rgb(34, 45, 84);
    color: white;
    margin: 0;
    padding: 0;
}

h1{
    position: relative;
    padding-left: 600px;
    margin-top: 100px;
    font-size: 70px;
}

h2{ 
    position: inherit;
    padding-left: 560px;
    font-size: 35px;
}

.instructions{
    position: absolute;
    top: 55%;
    left: 50%;
    width: 400px;
    padding: 20px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: white;
    color: black;
  }

.backbutton{
    position: relative;
    left: 300px;
    margin-top: 300px;
}

  #Back{
    padding: 5px 20px;
    font-size: 25px;
    background-color:  rgb(93, 225, 93);
}
